.ratingsPage {
  width: 95%;
  margin: auto;
  text-align: center;
}

.animeRatingImg {
  width: 10%;
  margin: auto;
}
.animeRatingImg img {
  width: 75%;
  height: auto;
  background-color: #cf9fff;
  border-radius: 50%;
  border: 3px solid white;
}

.ratingsContainer {
  width: 50%;
  margin: auto;
}
.ratings {
  width: 95%;
  margin: auto;
  padding: 5px;
}

.rating {
  background-color: #cf9fff;
  border-radius: 15px;
  border: 3px solid white;
  margin: 5px;
}
.rateImg {
  width: 12%;
  margin: auto;
}
.rateImg img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.rate {
  width: 20%;
  margin: auto;
}
.rate img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .ratingsContainer {
    width: 100%;
  }
  .rate{
    width: 50%;
  }
}
