.signup {
  position: relative;
  width: 90%;
  height: 95vh;
  margin: auto;
}
.pageImg {
  width: 18%;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: flex-start;
}
.pageImg img {
  width: 100%;
  height: 100%;
  
}
