.signup {
  position: relative;
  width: 90%;
  height: 96.5vh;
  margin: auto;
}
.pageImg {
  width: 18%;
  position: fixed;
  bottom: 0;
  left: 0;
}
.pageImg img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-device-width: 540px) and (max-device-width: 950px) {
  .signup form {
    width: 70%;
  }
  .pageImg {
    width: 40%;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 539px) {
  .signup form {
    width: auto;
  }
  .pageImg {
    width: 60%;
  }
}
