.animeList {
  width: 80%;
  margin: auto;
}
.animeListImg {
  width: 10%;
  margin: auto;
}

.animeListImg img {
  width: 100%;
  height: auto;
  background-color: #cf9fff;
  border-radius: 50%;
  border: 3px solid white;
}

.options {
  text-align: center;
  margin-bottom: 0%;
}
.optionButton {
  border: none;
  background: none;
  margin: 5px;
  cursor: pointer;
  color: #282828;
  border-radius: 5px;
}
.optionButton:hover {
  border: none;
  background-color: #282828;
  margin: 5px;
  cursor: pointer;
  color: #cf9fff;
  border-radius: 5px;
}
.optionButtonActive {
  border: none;
  background-color: #282828;
  margin: 5px;
  cursor: pointer;
  color: #cf9fff;
  border-radius: 5px;
}
.list {
  width: 60%;
  background-color: #cf9fff;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 3px solid white;
}

.listItem {
  list-style: none;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.165);
  margin: 3px;
  align-items: center;
  justify-content: space-between;
}
.listImg {
  width: 10%;
}

.listImg img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.listTitle {
  color: black;
  margin-right: auto;
  margin-left: 10px;
}

@media only screen and (min-device-width: 540px) and (max-device-width: 950px) {
  .list {
    width: auto;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 539px) {
  .animeList {
    width: 100%;
  }

  .list {
    width: 80%;
  }
  .listItem {
    display: block;
    margin: auto;
    text-align: center;
    margin: 10px;
  }
  .listImg {
    width: 60%;
    margin: auto;
  }
}
