.animesFound {
  width: 100%;
}
.found {
  text-align: center;
  color: white;
  font-size: 1.8em;
}
.filters{
  display: flex;
  width: 80%;
  margin: auto;
  align-items:center;
}
.selectRandom{
  margin-left: auto;
}
.episodeCount {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: #cf9fff;
}
.episodeCount select {
  border: none;
  padding: 5px;
  border-radius: 15px;
}
.animes {
  width: 85%;
  margin: auto;
  text-align: center;
}

.anime {
  background-color: #cf9fff;
  width: 15%;
  margin: 10px;
  padding: 10px;
  border: 5px solid white;
  border-radius: 15px;
  display: inline-block;
  font-size: 1.2vw;
}
.anime a {
  color: black;
  text-decoration: none;
}
.anime img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
