body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  border: none;
  border-radius: 15px;
  padding: 7px;
  background-color: white;
  color: #282828;
  cursor: pointer;
}
.btn:hover {
  border: none;
  border-radius: 15px;
  padding: 7px;
  background-color: #cf9fff;
  color: white;
  cursor: pointer;
}
.btnSmaller {
  border: none;
  border-radius: 15px;
  padding: 3px;
  background-color: white;
  color: #282828;
  cursor: pointer;
}
.btnSmaller:hover {
  border: none;
  border-radius: 15px;
  padding: 3px;
  background-color: #cf9fff;
  color: white;
  cursor: pointer;
}

.btn2 {
  border: none;
  border-radius: 15px;
  padding: 7px;
  background-color: #282828;
  color: white;
  cursor: pointer;
}
.btn3 {
  border: none;
  border-radius: 15px;
  padding: 3px;
  background-color: #282828;
  color: white;
  cursor: pointer;
  margin:2px;
  font-size: 0.7em;
}
.centered{
  text-align: center;
}
.linkBtn{
  margin: 5px;
  text-decoration: none;
  background-color: white;
  padding: 5px;
  color:#282828;
  border-radius:10px
}

.linkBtn:hover{
  background-color: #cf9fff ;
  color: white;
}

.white {
  color: white;
}
.pink {
  color: #cf9fff;
}
.centeredWhite {
  text-align: center;
  color: white;
}

.centeredWhiteUnderlined {
  text-align: center;
  color: white;
  text-decoration: underline;
}

.centeredPink {
  text-align: center;
  color: #cf9fff;
}
.centeredPinkUnderlined {
  text-align: center;
  color: #cf9fff;
  text-decoration: underline;
}
.centeredError {
  color: rgb(175, 0, 0);
  text-align: center;
  font-size: x-small;
}
.heading{
  text-align: center;
}
.heading h2 {
  color: #cf9fff;
}

.selectorContainer {
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #cf9fff;
  color: #282828;
  border: 1px solid white;
}
.form {
  background-color: #cf9fff;
  width: 50%;
  margin: auto;
  padding: 5px;
  border-radius: 15px;
  border: 2px solid white;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin: 2px;
}
.formGroup input[type="text"],
.formGroup input[type="email"],
.formGroup input[type="password"] {
  border: none;
  border-radius: 5px;
  padding: 3px;
}
.formGroup label {
  font-size: small;
}

.formButtonGroup {
  margin: 5px;
  text-align: center;
}
.forgotPass{
  text-align: center;
}
.forgotPass a{
  text-decoration: none;
  font-size: xx-small;
  color: white;
}
.forgotPass a:hover{
  color: #282828;
}