.welcome {
  width: 100%;
  display: flex;
}
.content {
  width: 75%;
}
.contentImg {
  width: 10%;
  margin: auto;
}
.contentImg img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  border: 2px solid white;
}
.homeImg {
  margin: 10px;
  width: 27%;
  border-radius: 10px;
  height: 100%;
  background-color: #cf9fff;
}
.homeImg img {
  width: 100%;
  height: auto;
}

.contentGroup {
  width: 75%;
  text-align: center;
  margin: auto;
}

.features {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feature {
  width: 20%;
  margin: 5px;
  padding: 5px;
  background-color: #cf9fff;
  border-radius: 10px;
  border: 2px solid white;
  font-size: 1em;
}

.featureImg {
  width: 100%;
}
.featureImg img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  .homeImg {
    display: none;
  }
  .content {
    width: 100%;
  }
  .features {
    width: 80%;
    margin: auto;
  }
  .feature {
    font-size: 0.6em;
  }
}
