.search {
  width: 90%;
  margin: auto;
  text-align: center;
}
.heading h2 {
  color: #cf9fff;
}

.searchImage {
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}

.searchImage img {
  width: 100%;
  height: auto;
  background-color: #cf9fff;
  border-radius: 50%;
  border: 3px solid white;
}

.searchBar {
  background-color: #cf9fff;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-radius: 15px;
  border: 3px solid white;
  color: black;
}

.searchBar input[type="text"] {
    width: 50%;
    padding: 5px;
    text-align: center;
    border: none;
    border-radius: 15px;
}
