.paginator{
    background-color: #cf9fff;
    text-align: center;
    width: 20%;
    margin: auto;
    border-radius: 10px;
    
}

.paginator button {
    margin: 5px;
    background: none;
    border: none;
    cursor: pointer;
}